{% extends '/FrontOffice/base.html.twig' %}

{% block body %}


    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>All session</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <section class="property-section latest-property-section spad">
    <div class="container">

    <div class="row">
    <div class="col-lg-5">
        <div class="section-title">
            {% if is_granted('ROLE_Therapist') %}

            <h4> <a style="color: black" href="{{ path('add_session')}}">Create new session</a></h4>
            {% endif %}
        </div>
    </div>
    <section id="team" class="team">

        <div class="container">


            <div class="row property-filter">
                <div class="row">


                        {% set classType="col-lg-4 col-md-6 mix all session" %}

                    {% for session in session %}


                        <div class="col-lg-6 mt-4">

                            <div class="member" data-aos="zoom-in" data-aos-delay="100">

                                <div class="member-info">
                                    <h4>{{ session.title }}</h4>

                                    <p>{{ session.description }}</p>
                                    <p>Free</p>
                                    {% if is_granted('ROLE_Therapist') %}

                                    <a href="{{ path('session_modif',{'id':session.sessionId } )}}">update</a>
                                    <a href="{{ path('delete_Session',{'id':session.sessionId } )}}">delete</a>


                                    {% endif %}
                                    <a href="{{ path('participate_session',{'id':session.sessionId } )}}">participate</a>




                                    <br>
                                </div>
                            </div>

                        </div>
                    {% endfor %}


                </div>
            </div>

        </div>
    </section>
{% endblock %}